/* ====== GENERAL STYLES ====== */
body{
    font-family: arial, sans-serif;
    margin: 0;
    background-color: #b9d4c2;
    line-height: 1.6;
}
/* ====== HEADER ====== */
header{
    position: relative;
    text-align: center;
}

header img{
    width: 100%;
     height: 380px;
     object-fit: cover;
    display: block;

}
header h1{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0, 0,0.3);
}

/* ====== NAVIGATION ====== */
nav{
    background-color: #4d6651 ;
    text-align: center;
    border-top: 2px solid #7bb0a9;
    border-bottom: 2px solid #7bb0a9;
    padding: 15px 0;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 0 ;
}
nav a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
nav a:hover{
     background-color: #3b4e3e;
  border-radius: 5px;

}
/* ====== ARTICLE ====== */
article{
    padding: 20px;
    background-color: #e8f1ec;
}

.article-img{
    float: left;
    margin: 0 15px 15px 0;
    width: 230px;
    border-radius: 6px;
}
article h2 {
    margin-top: 0;
    color: #063b37;
}

article p {
    text-align: justify;
}
/* ====== FACTS ====== */
.facts{
    width: 80%;
    margin: 20px auto;
    background-color: #d5e7da;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0, 0,0.3);
}
.facts h2 {
    color: #063b37;
}
.facts ul{
    list-style: square;
    padding-left: 20px;
}

/* ====== Contact SECTION ====== */
.contact {
    width: 80%;
    margin: 20px auto ;
    background-color: #b8e0dc;
    padding: 25px;
    border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.contact h2 {
    color: #063b37;
}
/* ====== FORM SECTION ====== */
.form-section{
    background-color: #e8f1ec;
    padding: 30px;
    margin: 30px auto;
    max-width: 600px;
    border: 2px solid #7bb0a9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label{
    margin-top: 10px;
}

input, textarea, button{
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    margin-top: 15px;
    background-color: #4d6651;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:  #3b4e3e;
}

/* ====== FOOTER ====== */
footer{
    text-align: center;
    background: #4d6651;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
}